<div class="col-md-4 project">
  <div class="projectThumbnail">
    <%= image_tag "g1.jpg", class: "img-responsive thumbnailImage" %>
  </div>
  <div class="projectInfo">
    <div class="clearfix"> </div>
    <h4><%= link_to tour.name, tour %></h4>
    <h4><%= number_to_currency tour.price %></h4>
    <p><%= tour.schedule %></p>
  </div>
</div>
