<tr>
  <td><%= link_to user.email, [:admin, user] %></td>
  <td><%= image_tag user.avatar.url, class: "image_avatar" %></td>
  <td>
    <%= link_to [:admin, user], method: :delete,
      data: {confirm: t("admin.destroy_confirm")} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>
