<div id="footer">
  <ul class="footer-links">
    <li><%= link_to t("nav.home"), "#" %></li>
    <li><%= link_to t("nav.about"), "#" %></li>
    <li><%= link_to t("nav.contact"), "#" %></li>
  </ul>
</div>
